.dropdown#customer-option-list
  %a.dropdown-toggle#customer-options{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    = current_customer.full_name
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "customer-options"}
    %li
      = link_to customer_path(current_customer.id) do
        %i.fa.fa-user-circle-o
        Profile
    %li.divider{:role => "separator"}
    %li
      = link_to logout_path, method: :delete do
        %i.fa.fa-sign-out
        Log Out
