%form.navbar-form.navbar-right{:role => "search"}
  .input-group
    %input.form-control{:placeholder => "Search", :type => "text"}/
    %span.input-group-btn
      %button.btn.btn-default{:type => "submit"}
        %span.glyphicon.glyphicon-search
