.shop-sign-in-container
  .container
    .pull-left
      %p SITE DEMO
    .pull-right
      - if logged_in?
        = render partial: 'layouts/header_content/customer_options'
      - else
        = link_to 'Sign In / Create Account', sign_in_path, class: 'sign-in'
      #shopping-cart-preview
        = render partial: 'shopping_carts/preview'