.shop-sign-in-container
  .pull-left
    %p SITE DEMO
  .pull-right
    = link_to 'Sign in / Create Account', :back, class: 'sign-in'
    = link_to :back, class: 'inline-block' do
      %i.fa.fa-shopping-cart.fa-lg
      %span.cart-item-count 0
      %span ITEM(S)