.well#summary-items-header
  .row
    .col-md-7.col-sm-7.col-xs-12
      ITEM(S)
    .col-md-1.col-sm-1.hidden-xs
      QTY
    .col-md-2.col-sm-2.hidden-xs
      PRICE
    .col-md-2.col-sm-2.hidden-xs
      TOTAL