%footer.footer.clearfix
  .container#footer-content
    .footer-content-area
      -# This area is for placing links such as contact us, and about us

    %hr
    .footer-section-corporate
      .demo-notice
        %span This site is strictly for academic purposes, it is not intended for actual use.
      .price-notice
        %span All prices are listed in Canadian dollars