%nav.navbar.navbar-default.navbar-fixed-top.navbar-custom
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Crown Summit Outdoors', root_path, :class => 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        = render partial: 'shared/clothing_accessory_dropdown_menu', locals: {gender: Product::MALE, g_header: 'Men'}
        = render partial: 'shared/clothing_accessory_dropdown_menu', locals: {gender: Product::FEMALE, g_header: 'Women'}
        = render partial: 'shared/footwear_dropdown_menu'

