/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "style_sheets/*";

@media (min-width: 768px) {
  .navbar-custom .layout-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  form .input-group.category-search-drop-down {
    padding-bottom: 5px;
    width: 100%;
  }
}

@media (max-width: 991px) {
  form.navbar-form.navbar-right {
    float: left !important;
    margin-left: -15px;
    padding-left: 0;
  }
}

header {
  min-width: 100%;
  position: relative;
  background-color: #333;

  .navbar-default .navbar-brand {
    color: #000000;
  }

  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #000000;
  }

  .custom-navbar-burger {
    margin-left: 13px;
  }

  .shop-sign-in-container {
    font-size: 12px;
    @extend .container;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #DADADA;

    p {
      padding: 0;
      margin: 0;
    }

    a {
      color: #DADADA;
    }

    a:hover {
      text-decoration: none;
    }

    .fa-shopping-cart {
      color: #f3cf1e;
    }

    .cart-item-count {
      color: #f3cf1e;
    }

    .sign-in {
      padding-right: 20px;
    }
  }

  .navbar-custom {
    border-radius: 0;
    margin-bottom: 0;
  }

  .layout-dropdown {
    @extend .dropdown;

    .dropdown-header {
      font-size: 16px;
      color: #000;
    }

    li {
      color: #777;
    }
  }

  #customer-option-list {
    display: inline;
    padding-right: 20px;

    a:hover, a:active, a:visited, a:focus {
      cursor: pointer;
      text-decoration: none;
    }

    ul li a {
      color: #000;
    }
  }
}

.new-customer-option {
  margin-left: 15px;
}

.log-in-option {
  margin-right: 15px;
}

.form-group.required .control-label:after {
  content:"*";
  color: #FF0000;
}